<div class="body">
  <div class="text">
    <h1>Erro 404</h1>
    <h2><img src="../../../assets/images/Ramo.svg" alt="">Não conseguimos encontrar essa página!<img style="transform: scaleX(-1);" src="../../../assets/images/Ramo.svg" alt=""></h2>
  </div>
  <div class="imgBorder">
  <div class="img" [style.backgroundImage]="'url(' + imagemNotFound[0]?.URL_IMG + ')'" *ngIf="!loading"></div>
  <div class="img-load" *ngIf="loading"></div>
  </div>

  <img class="flor-1 grafi" src="../../../assets/images/Flor.svg" alt="">
  <img class="flor-2 grafi" src="../../../assets/images/Flor.svg" alt="">
  <img class="flor-3 grafi" src="../../../assets/images/Flor.svg" alt="">
  <img class="petala-1 grafi" src="../../../assets/images/petala.svg" alt="">
  <img class="petala-2 grafi"  src="../../../assets/images/petala.svg" alt="">
  <img class="petala-3 grafi"  src="../../../assets/images/petala.svg" alt="">
</div>
